.App {
  text-align: left;
  font-family: SourceSansPro, sans-serif;
}

.App-header {
  height: 75px;
  padding: 20px;
  background-color: #0089df;
  color: #ffffff;
  font-weight: bold;
  margin: 20px 0;
}

.App-intro {
  font-size: large;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('./fonts/SourceSansPro-Bold.otf');
}
